@font-face {
    font-family: "Bergen Sans";
    src: url("../fonts/BergenSans-Regular.otf");
}

body {
    margin: 0;
    background-color: #f0f0f8;
}

.scholar-icon {
    height: 6vh;
}

.text {
    font-family: "Bergen Sans";
}

.header-dropdowns {
    display: flex;
    font-size: 2.2vh;
    align-items: center;
    justify-content: space-between;
    border: solid 0.1vh #d4d4d4;
    width: 9vw;
    height: 5vh;
    padding: 1vh;
    box-sizing: border-box;
}

.header {
    height: 6.5vh;
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
}

.option-container {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 5vw;
    column-gap: 2vw;
    row-gap: 1vh;
}

.footer {
    background-color: white;
    position: static;
    bottom: 0;
    padding: 1.5vh;
    width: 100vw;
    text-align: center;
    font-size: 2vh;
    box-sizing: border-box;
    color: #7f757c;
}

.option {
    color: #343a40;
    font-size: 2vh;
    background-color: white;
    border: solid 0.2vh black;
    border-radius: .5vh;
    text-align: center;
    padding: 1vh;
}