body {
    margin: 0;
    background-color: #f0f0f8;
}

.scholar-icon {
    height: 6vh;
}

.text {
    font-family: "Josefin Sans";
}

.header-dropdowns {
    display: flex;
    font-size: 2.2vh;
    align-items: center;
    justify-content: space-between;
    border: solid 0.1vh #d4d4d4;
    width: 10vw;
    height: 5vh;
    padding: 1vh;
    box-sizing: border-box;
}

.header {
    height: 6.5vh;
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
}

.footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    padding: 1.5vh;
    width: 100vw;
    text-align: center;
    font-size: 2vh;
    box-sizing: border-box;
    color: #7f757c;
}

.sidenavbar {
    background-color: white;
    position: absolute;
    width: 7vw;
    height: 131vh;
    top: 8.5vh;
    font-family: "Josefin Sans";
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vh;
    padding-top: 2vh;
    gap: 2vh;
}

.sidenavbar-icon {
    height: 6vh;
    background-color: #f0f0f8;
    box-sizing: border-box;
    padding: 1vh;
    border-radius: 1vh;
}

.screen-content {
    margin-right: 5vw;
    margin-left: 10vw;
    font-family: "Josefin Sans";
    margin-bottom: 7vh;
}

.first-section {
    display: flex;
    margin-top: 2vh;
    gap: 2vh;
}

.box {
    box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.15);
    background-color: white;
    height: 35vh;
    border-radius: 2vh;
    padding: 2vh 1vw;
    color: rgba(0, 0, 0, 0.6);
    font-size: 2vh;
}