body {
  margin: 0;
  background-color: #f0f0f8;
  overflow-x: hidden;
}

.scholar-icon {
  height: 6vh;
}

.text {
  font-family: "Josefin Sans";
}

.header-dropdowns {
  display: flex;
  font-size: 2.2vh;
  align-items: center;
  justify-content: space-between;
  border: solid 0.1vh #d4d4d4;
  width: 9.5vw;
  height: 5vh;
  padding: 1vh;
  box-sizing: border-box;
}

.header {
  height: 6.5vh;
  background-color: white;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 1vh 1vw;
  margin-bottom: 3vh;
}

.accordian-menu-container {
  display: flex;
  justify-content: center;
  gap: 60px auto;
}

.accordian {
  width: 600px;
}

.accordian li {
  list-style: none;
  width: 100%;
  margin: 20px;
  border-radius: 8px;
  background-color: rgba(175, 175, 175, 0.2);
}

.accordian li label {
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  align-items: center;
  padding: 2vh 2vw;
  font-size: 2.5vh;
  font-weight: 500;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.accordian .content {
  padding: 0vh 2vw;
  margin-top: 0;
  border-radius: 0px 0px 8px 8px;
  line-height: 26px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s, padding 0.3s;
}

.selected-content-icon {
  width: 3.5vh;
}

.option-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2vh;
  padding-bottom: 3vh;
  border-bottom: solid 0.1vh black;
}

.option {
  text-align: center;
  padding: 2vh;
  border-radius: 1.5vh;
  background-color: rgba(92, 74, 199, 0.2);
  color: #5c4ac7;
  font-weight: 500;
  font-size: 2.5vh;
  cursor: pointer;
}

.option:hover {
  background-color: rgba(92, 74, 199, 0.3);
}

.selected-option {
  background-color: #5c4ac7;
  color: white;
}

.selected-option:hover {
  background-color: #5c4ac7;
}

.accordian input[type="radio"]:checked + label + .content {
  max-height: 500px;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.12);
  padding: 0vh 2vw 2vh 2vw;
}

.accordian input[type="radio"]:checked + label {
  color: white;
  background-color: rgba(37, 189, 234, 1);
  border-radius: 8px 8px 0px 0px;
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.12);
}

.selected-content-button {
  font-size: 2vh;
  border: none;
  background-color: #5c4ac7;
  color: white;
  font-family: "Josefin Sans";
  padding: 2vh 1vw;
  border-radius: 2vh;
}

.save-continue {
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  background-color: #5c4ac7;
  color: white;
  padding: 1vh 0vw;
  font-size: 2vh;
  font-family: "Inter";
  border-radius: 1vh;
  gap: 2vh;
  width: 14vw;
  margin-left: 31vw;
  cursor: pointer;
}

.vehicle-choice-container {
  display: flex;
  gap: 2vh;
  padding-bottom: 3vh;
  border-bottom: solid 0.1vh rgba(0, 0, 0, 0.6);
}

.vehicle-choice {
  font-size: 2vh;
  display: flex;
  gap: 1.5vh;
  border-radius: 2vh;
  flex-direction: column;
  border: solid 0.2vh #b0b0b0;
  align-items: center;
  color: rgba(92, 74, 199, 1);
  padding: 2vh 2.5vw;
  cursor: pointer;
}

.vehicle-choice:hover {
  background-color: rgba(92, 74, 199, 0.2);
}

.selected-vehicle-choice {
  background-color: #5c4ac7;
  color: white;
}

.selected-vehicle-choice:hover {
  background-color: #5c4ac7;
}

.vehicle-icon {
  height: 6vh;
}

.selected-content-image {
  height: 13vh;
}
