* {
    margin: 0;
}

.text {
    font-family: "Josefin Sans";
}

.popup-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    position: relative;
    width: 60vw;
    height: 60vh;
    background-color: white;
    border-radius: 3vh;
    text-align: center;
}